body{
    background-image: linear-gradient(to right,#2fa3ee, #128AD8);
}

/*Navbar settings*/
.navbar-expand-md .navbar-nav {
  flex-direction: column;
}

.radius {
    border-radius: .25rem;
}

/* Main */
#main .icons{
    font-size: 40px;
}

.icon2{
    color: #2fa3ee;
}

#main a:link,
a:visited
{
    color: black;
}

#main a:hover 
{
    color: #2fa3ee;
}

.card-scroll{
    max-height: 29em;
    overflow-y: auto;
}

.card-left{
    min-height: 31em;
}

@media (max-width:575px) {
    #right-panel .card-body:before {
        height: 65px;
        content: "";
        display:block;
    }
}

/* Button */
.btn-custom {
    color: black;
}

.btn-custom:hover,
.btn-custom:active {
    color: #2fa3ee;
}

/* Generic Button */
.btn-generic{
    color: white !important;
    background-color: #2fa3ee;
}

.btn-generic:hover{
    color: #2fa3ee !important;
    background-color: white;
    border: 1px solid #2fa3ee;
}

/* Modal courses*/
#nav-tab-courses .nav-link{
    color: #2fa3ee;
}
#nav-tab-courses .nav-link.active{
    color: #495057;
}