body{
    background-color: #2fa3ee;
}

/*Navbar settings*/
.navbar,
.navbar-collapse {
  flex-direction: column;
}
.navbar-expand-md .navbar-nav {
  flex-direction: column;
}

#main .icons{
    font-size: 40px;
}
#main a:link 
{
    color: #2fa3ee;
}
#main a:visited 
{
    color: black;
}
#main a:hover 
{
    color: black;
}

.card-scroll{
    max-height: 24em;
    overflow-y: auto;
}